<div class="card">
  <mat-toolbar color="primary">
    <h1>Liste des Modes Reglement</h1>
  </mat-toolbar>
  <hr>
  <div class="card-body">
 <div class="right">
  <a class="btn btn-outline-success" (click)="addUser()">
    <i class="icon-add_box"></i> Nouveau</a>
    <hr>
    <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-5 small"
placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
  </div>
  <hr>
   <style>
    h1 {
      color: black;
      background-color: #3f51b5;
      
    }
  </style>
        <h1 align = "center">Liste Des Utilisateurs</h1>
     
      <hr>
  

   <div class="pricing-header mx-auto">
     <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
      <thead>
      <tr>
      
      <th scope="col">Name </th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Image</th>
      <th class="text-center" scope="col">Action</th>
       
      </tr>
      </thead>
      <tbody>
  
  
      <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 8, currentPage: p }">
      
      <td>{{item.nom}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
      <td>{{item.role}}</td>
     
      <td><a href="#"><img class="card-img-top img-responsive"
        src = "{{this.crudApi.host+'/api/ImgUsers/'+item.id}}" 
        style = "height :100px;width:200px"
       alt=""></a></td>
       <td>
       <div class="btn-toolbar ">
        <button class="btn btn-warning" (click)="selectData(item)">
          <i class="fa fa-pencil-square-o"></i></button>
      <div class="espace"></div>
      <button class="btn btn-danger " (click)="removeData(item.code)">
          <i class="fa fa-trash-o"></i></button>
            
          </div>
          </td>
         </tr>
           </tbody>
           </table>
           </div>
           <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
         </div>
  
  </div>
</div>
  
  
  
  
  
