<div class="right">
    <a class="btn btn-outline-success" (click)="addReglement()">
      <i class="icon-add_box"></i> Nouveau</a>
      <hr>
        </div>
    <hr>
<style>
    h1 {
      color: black;
      background-color: #3f51b5;
      
    }
  </style>
    <h1 align = "center">Liste Des Reglements</h1>

<hr>

<div>
    <form [formGroup]="this.reglementForm">
        <div class="row">
            <div class="form-group col-md-5">
                <label>Du </label>
                <input type="date" class="form-control" formControlName="date1">
            </div>
            <div class="form-group col-md-5">
                <label>Au :</label>
                <input type="date" class="form-control" formControlName="date2">
            </div>
            <div class="form-group col-md-2">
                <a class="btn btn-sm btn-success text-white" (click)="listReglement()">Valider
                </a>
            </div>
        </div>
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Date Reglement</th>
                    <th scope="col">Montant</th>
                    <th class="text-center" scope="col">Action</th>
                    <th class="text-center" scope="col">Recu de paiement</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of service.list | paginate: { itemsPerPage: 8, currentPage: p}">
                    <td>{{item.numero}}</td>
                    <td>{{item.matricule}}</td>
                    <td>{{item.nom}}</td>
                    <td>{{item.prenom}}</td>
                    <td>{{item.classe}}</td>
                    <td>{{item.dateReglement}}</td>
                    <td>{{item.montant}}</td>
                    <td>
                    <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button>
                        <div class="espace"></div>
                        <button class="btn btn-danger " (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                          </td>
                            <td class="nav-item"> <button class="btn btn-primary" (click)="recu(item.id)">
                                <i class="fa fa-file-pdf-o"></i>Edition</button></td>
                    
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
    </div>
    </form>
</div>
