 
  <div class="card">
    <mat-toolbar color="primary">
      <h1>{{title1}} </h1>
    </mat-toolbar>
    <hr>
    <div class="card-body">
              <form [formGroup]="this.requestService.formData" (ngSubmit)="onSubmit()">
              
                <input type="hidden"
                  formControlName="id"
                   id="id">
                
                <div class="form-group">
                  <label>Title</label>
                  <input type="text"
                  [(ngModel)]="title"
                  (ngModelChange)="ontitleChange($event)"
                  (input)="limitLength($event)"
                  class="form-control" 
                  formControlName="title" 
                  id="titleformation"
                    placeholder=" title ">
                    <div class="error-message" 
                    *ngIf="submitted && showtitleError" class="text-danger">
                    Title  cannot be empty!</div>
                </div>
                <p></p>
                 <div class="form-group">
                  <label>Description</label>
                  <input type="text"
                  [(ngModel)]="description"
                  (ngModelChange)="onodescriptionChange($event)"
                  (input)="limitLength($event)"
                  class="form-control" 
                  formControlName="description" 
                  id="description"
                    placeholder=" description">
                    <div class="error-message" 
                    *ngIf="submitted && showodescriptionError" class="text-danger">
                    description cannot be empty!</div>
                </div>

                <div class="form-group">
                  <label>Objectif</label>
                  <input type="text"
                  [(ngModel)]="objectif"
                  (ngModelChange)="onobjectifChange($event)"
                  (input)="limitLength($event)"
                  class="form-control" 
                  formControlName="objectif" 
                  id="objectif"
                    placeholder="Objectif">
                    <div class="error-message" 
                    *ngIf="submitted && showobjectifeError" class="text-danger">
                    objectif cannot be empty!</div>
                </div>
                <br>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary"><i class="icon-database"></i> Valider</button> &nbsp;
                  <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="icon-x-square"></i> Fermer</button>
                </div>
              </form>
    </div>
  </div>