<div class="card">
    <mat-toolbar color="primary">
      <h1>{{title}}</h1>
    </mat-toolbar>
    <hr>
    <div class="card-body">
<form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" id="id">
    <div class="form-group">
        <label>Code </label>
        <input type="text"
         class="form-control"
          formControlName="code"
           id="code" readonly>
      </div>
      <div class="form-group" >
        <label>Libelle</label>
        <input  
        [(ngModel)]="libelle"
        (ngModelChange)="onLibelleChange($event)"
         class="form-control"
         (input)="limitLength($event)"
         type="text"
          formControlName="libelle"
           id="libelle" 
           placeholder="Libelle ">
        <div class="error-message"
         *ngIf="submitted && showLibelleError" class="text-danger">
         Input cannot be empty!</div>
      </div>

   <div class="form-group" >
          <label>Libelle Court</label>
          <input  
          [(ngModel)]="libelleCourt"
          (ngModelChange)="onLibellecourtChange($event)"
           class="form-control"
           (input)="limitLength($event)"
           type="text"
            formControlName="libelleCourt"
             id="libelleCourt" 
             placeholder="Libelle court ">
          <div class="error-message"
           *ngIf="submitted && showLibelleError" class="text-danger">
           Input cannot be empty!</div>
        </div>
        <div class="form-group">
            <label>Adresse</label>
            <input
            [(ngModel)]="adresse"
            (ngModelChange)="onAdresseChange($event)"
            (input)="limitLength($event)"
             type="text" 
             class="form-control" 
             formControlName="adresse"
              id="adresse" 
              placeholder="Adresse">    
            <div class="error-message"
            *ngIf="submitted && showAdresseError" class="text-danger"
            >Input cannot be empty!</div>
          </div>

          <div class="form-group" >
            <label>Téléphonne</label>
          <input 
          [(ngModel)]="tel1"
          (ngModelChange)="onTel1Change($event)"

          type="text"  
           name="numericInput" 
           class="form-control"
           formControlName="tel1"
            id="tel1"
             placeholder="Téléphone" 
             (input)="allowNumbersPlus($event)">
             <div class="error-message"
              *ngIf="submitted && showTel1Error"class="text-danger">
              Input cannot be empty!</div>
            </div> 

            <div class="form-group" >
                <label>Téléphonne 2 </label>
              <input 
              [(ngModel)]="tel2"
              (ngModelChange)="onTel2Change($event)"
              type="text"  
               name="numericInput" 
               class="form-control"
               formControlName="tel2"
                id="tel2"
                 placeholder="Téléphone 2" 
                 (input)="allowNumbersPlus($event)">
                 
                 <div class="error-message"
                  *ngIf="submitted && showTel2Error"class="text-danger">
                  Input cannot be empty!</div>
                </div> 
    
    <div class="form-group">
        <label>Email :</label>
        <input type="email" 
        class="form-control"
        id="email"
         formControlName="email"
          placeholder="Email"
          [(ngModel)]="email"
         (ngModelChange)="onEmailChange($event)"

         (input)="validateEmail($event)">

         <div class="error-message"
              *ngIf="submitted && showEmailError"class="text-danger">
              Input cannot be empty!</div>
    </div>

    <div class="form-group" >
            <label>Slogant</label>
          <input 
          [(ngModel)]="slogant"
          (ngModelChange)="onslogantChange($event)"
          (input)="limitLength($event)"
          type="text"  
           name="numericInput" 
           class="form-control"
           formControlName="slogant"
            id="slogant"
             placeholder="slogant" 
             >
             <div class="error-message"
              *ngIf="submitted && showslogantError"class="text-danger">
              Input cannot be empty!</div>
            </div> 
            <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="icon-database"></i> Valider</button> &nbsp;
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="icon-x-square"></i>
            Fermer</button>
    </div>

</form>
</div>
</div>
