
    <h1 align="center">Ajouter Etablissement</h1>

<hr>
      <form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
        <input type="hidden"  formControlName="id" id="id">
        <div class="form-group">
          <label>Code </label>
          <input  [(ngModel)]="textInput"
          type="text" 
           class="form-control" 
           formControlName="code" 
           id="code" >
        </div>



        <div class="form-group" >
          <label>Libelle</label>
          <input  
          [(ngModel)]="libelle"
          (ngModelChange)="onLibelleChange($event)"
           class="form-control"
           (input)="limitLength($event)"
           type="text"
            formControlName="libelle"
             id="libelle" 
             placeholder="Libelle ">
          <div class="error-message"
           *ngIf="submitted && showLibelleError" class="text-danger">
           Input cannot be empty!</div>
        </div>

        <div class="form-group">
            <label>Adresse</label>
            <input
            [(ngModel)]="adresse"
            (ngModelChange)="onAdresseChange($event)"
            (input)="limitLength($event)"
             type="text" 
             class="form-control" 
             formControlName="adresse"
              id="adresse" 
              placeholder="Adresse">    
            <div class="error-message"
            *ngIf="submitted && showAdresseError" class="text-danger"
            >Input cannot be empty!</div>
          </div>


          <div class="form-group" >
            <label>Ville </label>
            <input 
            [(ngModel)]="ville"
            (input)="limitLength($event)"
            (ngModelChange)="onVilleChange($event)"
            
             type="text" 
             class="form-control"
              formControlName="ville"
               id="ville" 
               placeholder="ville">
          
            <div class="error-message" 
            *ngIf="submitted && showVilleError" class="text-danger">
              Input cannot be empty!</div>
          </div>


          <div class="form-group" >
            <label>Téléphonne</label>
          <input 
          [(ngModel)]="tel"
          (ngModelChange)="onTelChange($event)"

          type="text"  
           name="numericInput" 
           class="form-control"
           formControlName="tel"
            id="tel"
             placeholder="Téléphone" 
             (input)="allowNumbersPlus($event)">
             <div class="error-message"
              *ngIf="submitted && showTelError"class="text-danger">
              Input cannot be empty!</div>
            </div> 
          
          <div class="form-group">

 
</div>	

        
          
    <br>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><i class="icon-database"></i> Valider</button> &nbsp;
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="icon-x-square"></i> Fermer</button>
  </div>
      </form>


 
