<style>
    h1 {
      color: black;
      background-color: #1a55a0;
      
    }
  </style>
      <h1 align = "center"> Ligne Emploi</h1>
   
  <hr>
  <form [formGroup]="this.formData"  (ngSubmit)="onSubmit()">
      <input type="hidden" class="form-control" formControlName="id" id="id">
      <div class="form-group">
        <label>Enseignant  </label>
        <select class="form-control" formControlName="matriculeEnseignant"  (change)="onSelectEnseignant($event.target)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of enseignantList" value="{{item.matricule}}">{{item.nom}}</option>
        </select>
    </div>
      <div class="form-group">
        <label>Matiere </label>
        <select class="form-control" formControlName="codeMatiere"  (change)="onSelectMatiere($event.target)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of matiereList" value="{{item.code}}">{{item.libelle}}</option>
        </select>
    </div>
    <div class="form-group">
      <label>Jour </label>
      <select class="form-control" formControlName="codeJour"  (change)="onSelectJour($event.target)">
          <option value="0">-Select-</option>
          <option *ngFor="let item of jourList" value="{{item.code}}">{{item.libelle}}</option>
      </select>
  </div>
    <div class="form-group">
      <label>Horaire </label>
      <select class="form-control" formControlName="codeHoraire"  (change)="onSelectHoraire($event.target)">
          <option value="0">-Select-</option>
          <option *ngFor="let item of horaireList" value="{{item.code}}">{{item.heure}}</option>
      </select>
  </div>
  <div class="form-group">
    <label>Salle</label>
    <input type="text"
     class="form-control"
      formControlName="salle"
       id="salle"
       (input)="allowNumbersPlus($event)"
        placeholder="salle">
  </div>
<br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="icon-database"></i> Valider</button> &nbsp;
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="icon-x-square"></i> Fermer</button>
      </div>
    
  </form>
  
  
