<div class="right">
    <a class="btn btn-outline-success" (click)="addEtablissement()">
      <i class="icon-add_box"></i> Nouveau</a>
      <hr>
      <input
      type="text"
      [(ngModel)]="SearchText"
      class="form-control bg-light border-5 small"
      placeholder="Recherche..."
      aria-label="Search"
      aria-describedby="basic-addon2"
      (input)="onSearchTextChange()"
    /> </div>
    <hr>

<h1 align="center">Liste Des Etablissements</h1>

<hr>
<div>
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Libelle </th>
                    <th scope="col">Adresse </th>
                    <th scope="col">Ville </th>
                    <th scope="col">Tel </th>
                    <th class="text-center" scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 8, currentPage: p}">
                    <td>{{item.code}}</td>
                    <td>{{item.libelle}}</td>
                    <td>{{item.adresse}}</td>
                    <td>{{item.ville}}</td>
                    <td>{{item.tel}}</td>
                    <td>
                    <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button>
                        <div class="espace"></div>
                        <button class="btn btn-danger " (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                          </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
    </div>
</div>
