<div class="card">
    <mat-toolbar color="primary">
      <h1>List Formation  </h1>
    </mat-toolbar>
    <hr>
    <div class="card-body">
        <div class="right">
        <a class="btn btn-outline-success" (click)="submitFormationProposal()">
      <i class="icon-add_box"></i>Ajout New Formation </a>
      <hr>
      <input
      type="text"
      [(ngModel)]="SearchText"
      class="form-control bg-light border-5 small"
      placeholder="Recherche..."
      aria-label="Search"
      aria-describedby="basic-addon2"
      (input)="onSearchTextChange()"
    />
    </div>
      <hr>
      <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
 table-responsive-lg">
          <thead>
              <tr>
                  <th class="text-center" scope="col">ID</th>
                  <th class="text-center" scope="col">Title </th>
                   <th class="text-center" scope="col">Description  </th>
                  <th class="text-center" scope="col">Objectif  </th>
                  <th class="text-center" scope="col" *ngIf="securityService.admin||securityService.enseignant"> Modifier</th>
                  <th class="text-center" scope="col" *ngIf="securityService.admin||securityService.expert">Aprroved / Non Approved </th>
                  
                  <th class="text-center" scope="col">Action </th>

              </tr>
          </thead>
          <tbody>
            
              <tr *ngFor="let item of request.list | paginate: { itemsPerPage: 8, currentPage: p}">
                  <td>{{item.id}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>  
                  <td>{{item.objectif}}</td> 
                  <td *ngIf="securityService.admin||securityService.enseignant">
                    <button class="btn btn-warning" (click)="selectData(item)">
                      <i class="fa fa-pencil-square-o"></i></button>
                      <br>
                      <div class="espace"></div>
                      <button class="btn btn-danger " (click)="removeData(item.id)">
                          <i class="fa fa-trash-o"></i></button>
                          
                       
                  </td>
                  
                  <td> 
                    <i *ngIf="item.approved; else notApproved" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="color: green;"></i>
                    <ng-template #notApproved>
                      <i class="fa fa-minus-circle fa-2x" aria-hidden="true" style="color: red;"></i>
                    </ng-template>
                    
                  </td>
                   <td *ngIf="securityService.admin||securityService.expert">
                    <button (click)="confirmRequest(item.id)" class="btn btn-success">Approve</button>
                     <button (click)="denyRequest(item.id)" class="btn btn-danger">Deny</button>
      
                    </td> 
              </tr>
          </tbody>
      </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>   
</div>
</div>