<div class="card">
  <mat-toolbar color="primary">
    <h1>{{title}}</h1>
  </mat-toolbar>
  <hr>
  <div class="card-body">
            <form [formGroup]="this.coursService.formData" (ngSubmit)="onSubmit()">
              <input type="hidden"  formControlName="id" id="id">
              <div class="form-group">
                <label>Numéro </label>
                <input type="text" class="form-control" formControlName="numero" readonly>
              </div>
              <div class="form-group">
                <label>Année</label>
                <input  type="number"  class="form-control" formControlName="annee"  id="annee">
              </div>
              <div class="form-group">
                <label>Semestre</label>
                
                  <select class="form-control" formControlName="semestre">
                    <option value="1">1 Semetre</option>
                    <option value="2">2 Semetre</option>
                </select>
              </div>
              
              <div class="form-group">
                <label>Enseignant  </label>
                <select class="form-control" formControlName="matriculeEnseignant" (change)="OnSelectEnseignant($event.target)">
                    <option value="0">-Select-</option>
                    <option *ngFor="let item of enseignantList" value="{{item.matricule}}">{{item.nom}}</option>
                </select>
            </div>
              <div class="form-group">
                <label>Classe </label>
                <select class="form-control" formControlName="codeClasse" (change)="OnSelectClasse($event.target)">
                    <option value="0">-Select-</option>
                    <option *ngFor="let item of classeList" value="{{item.code}}">{{item.libelle}}</option>
                </select>
            </div>
            <div class="form-group">
              <label>Matiere </label>
              <select class="form-control" formControlName="codeMatiere" (change)="OnSelectMatiere($event.target)">
                  <option value="0">-Select-</option>
                  <option *ngFor="let item of matiereList" value="{{item.code}}">{{item.libelle}}</option>
              </select>
              <p></p>
          </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="icon-database"></i> Valider</button>
                <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="icon-x-square"></i> Fermer</button>
        </div>
            </form>
          </div>
</div>
        
      
  