<div class="card">
  <mat-toolbar color="primary">
    <h1>Liste des Jours</h1>
  </mat-toolbar>
  <hr>
  <div class="card-body">
<div class="right">
    <a class="btn btn-outline-success" (click)="addJour()">
      <i class="icon-add_box"></i>Ajout</a>
      <hr>
       </div>
    <hr>
      <div class="table-responsive">
          <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
              <thead>
                  <tr>
                      <th scope="col">Code</th>
                      <th scope="col">Libelle </th>
                      <th class="text-center" scope="col">Action</th>
                     
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 8, currentPage: p}">
                      <td>{{item.code}}</td>
                      <td>{{item.libelle}}</td>
                      <td>
                      <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                          <i class="fa fa-pencil-square-o"></i></button>
                      <div class="espace"></div>
                      <button class="btn btn-danger " (click)="removeData(item.id)">
                          <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                        </td>
                  </tr>
              </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
   
      </div>
  </div>
</div>
  
  
  


