<div class="card">
  <mat-toolbar color="primary">
    <h1>Liste Inscription</h1>
  </mat-toolbar>
  <hr>
  <div class="card-body">
<div class="right">
    <a class="btn btn-outline-success" (click)="addInscription()">
      <i class="icon-add_box"></i>Ajout</a>
      <hr>
      <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-5 small"
      placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <hr>
   


    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Matricule </th>
                    <th scope="col">Date Inscription</th>
                    <th scope="col">Nom </th>
                    <th scope="col">Prenom </th>
                    <th scope="col">Classe</th>
                    <th scope="col">Frais Inscription</th>
                    <th class="text-center" scope="col">Action</th>
                    <th class="text-center" scope="col">Reglement</th>
                    <th class="text-center" scope="col">Recu de paiement</th>

                    
                </tr>
            </thead>
            <tbody>
             
                <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td>{{item.numero}}</td>
                    <td>{{item.matricule}}</td>
                    <td>{{item.dateInscription}}</td>
                    <td>{{item.nom}}</td>
                    <td>{{item.prenom}}</td>
                    <td>{{item.classe}}</td>
                    <td>{{item.montant}}</td>
                    <td>
                    <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button>
                        <div class="espace"></div>
                        <button class="btn btn-danger " (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                          </td>
                          <td  class="nav-item"> <button  class="btn btn-success" (click)="Reglement(item.id)">
                            <i class="fa fa-file-pdf-o"></i>Reglement</button></td> 
                    <td  class="nav-item"> <button  class="btn btn-dark" (click)="impAttestation(item.id)">
                        <i class="fa fa-file-pdf-o"></i>Edition</button></td>      
                        
                  
                    
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
    </div>
</div>
</div>


