<div class="card">
    <mat-toolbar color="primary">
      <h1>Liste Des Coefficients</h1>
    </mat-toolbar>
    <hr>
    <div class="card-body">
<div class="right">
    <a class="btn btn-outline-success" (click)="addCoefficient()">
      <i class="icon-add_box"></i>Ajout</a>
      <hr>
     </div>
    <hr>
        <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Classe </th>
                    <th scope="col">Matiere </th>
                    <th scope="col">Coefficient </th>
                    <th class="text-center" scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 8, currentPage: p}">
                    <td>{{item.code}}</td>
                    <td>{{item.classe}}</td>
                    <td>{{item.matiere}}</td>
                    <td>{{item.coef}}</td>
                    <td>
                    <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button>
                        <div class="espace"></div>
                        <button class="btn btn-danger " (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>   
</div>
</div>













