<div class="card">
    <mat-toolbar color="primary">
      <h1>Liste des Modes Reglement</h1>
    </mat-toolbar>
    <hr>
    <div class="card-body">
<div class="right">
    <a class="btn btn-outline-success" (click)="addTypepaiement()">
      <i class="icon-add_box"></i> Nouveau</a>
      <hr>
       </div>
    <hr>

    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Libelle </th>
                    <th scope="col">Remise </th>
                    <th class="text-center" scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of service.list">
                    <td>{{item.code}}</td>
                    <td>{{item.libelle}}</td>
                    <td>{{item.reduction}}</td>
                    <td>
                    <div class="btn-toolbar ">
                        <button class="btn btn-warning" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button>
                        <div class="espace"></div>
                        <button class="btn btn-danger " (click)="removeData(item.code)">
                            <i class="fa fa-trash-o"></i></button>
                            
                          </div>
                          </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>