<div class="iq_content_wrap">
    <!--iqoniq Content Start--> 
    <section class="our-teachers-page">
        <div class="container">
            <!--Teacher Wrap List Start-->
            <div class="row">
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <figure>
                            <img src="assets/achref/extra-images/teacher-01.jpg" alt="Image Here">
                        </figure>
                        <div class="text">
                            <h4><a href="#">Anna Doe</a></h4>
                            <h6>Language Instructor</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Teacher Thumb End-->
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <div class="text">
                            <h4><a href="#">John Doe</a></h4>
                            <h6>Vice President</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                       <figure>
                            <img src="assets/achref/extra-images/teacher-02.jpg" alt="Image Here">
                        </figure>
                    </div>
                </div>
                <!--Teacher Thumb End-->
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <figure>
                            <img src="assets/achref/extra-images/teacher-03.jpg" alt="Image Here">
                        </figure>
                        <div class="text">
                            <h4><a href="#">Sara Adward</a></h4>
                            <h6>Manager</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Teacher Thumb End-->
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <figure>
                            <img src="assets/achref/extra-images/teacher-04.jpg" alt="Image Here">
                        </figure>
                        <div class="text">
                            <h4><a href="#">Anna Doe</a></h4>
                            <h6>Language Instructor</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Teacher Thumb End-->
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <div class="text">
                            <h4><a href="#">John Doe</a></h4>
                            <h6>Vice President</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                       <figure>
                            <img src="assets/achref/extra-images/teacher-05.jpg" alt="Image Here">
                        </figure>
                    </div>
                </div>
                <!--Teacher Thumb End-->
                <!--Teacher Thumb Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="iq_teacher_style_1">
                        <figure>
                            <img src="assets/achref/extra-images/teacher-06.jpg" alt="Image Here">
                        </figure>
                        <div class="text">
                            <h4><a href="#">Sara Adward</a></h4>
                            <h6>Manager</h6>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
                            <ul class="iq_footer_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Teacher Thumb End-->
            </div>
            <!--Teacher Wrap List End-->
            <div class="load-more">
                <a class="iq_link_1" href="#">LOAD MORE</a>
            </div>
        </div>
    </section>
    <!--iqoniq Content End--> 
</div>
